*{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	}
html,body{
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	background-color: #1B689E;
	}
#video-pano{
	pointer-events: none;
	position: fixed;
	width: 16384px;
	height: 1024px;
	top: 0;
	left: 0;
	font-size: 0;
	line-height: 0;
	background: url(panorama.jpg) 0 0 repeat-x;
	}
	#video-pano video{
		/*display: none;*/
		position: absolute;
		top: 0;
		width: 4096px;
		height: 1024px;
		}
	#video-part-1{
		left: 0;
		}
	#video-part-2{
		left: 4096px;
		}
	#video-part-3{
		left: 8192px;
		}
	#video-part-4{
		left: 12288px;
		}